<div class="card-product" style="border-width: 5px;">

  <div class="card-product-infos">
  <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
  <p><%= restaurant.category%> </p>
  </div>
</div>
