<div class="container">
  <h1>Restaurants</h1>

<div class="restaurant-card">
  <% @restaurants.each do |restaurant| %>
      <h3 id="restaurant-name">
        <%= link_to restaurant.name, restaurant_path(restaurant) %>
      </h3>
  <% end %>
   </div>
<%= link_to "Add a new restaurant", new_restaurant_path %>
</div>
