<div class="text-center p-3">
<h1>Restaurants</h1>
</div>
<div class="container">
  <div class="row  mx-md-n12">
    <% @restaurants.each do |r| %>
    <div class="col-xs-12 col-m-3">
      <%= render "card", restaurant: r %>
    </div>
    <% end %>
<hr>
<div class="container">
<%= link_to "Add a new restaurant", new_restaurant_path, class: "btn btn-primary" %>
</div>
</div>
</div>

